<div class="container" align="center">
<h1> Search results for <%= @search %> </h1>
<br>
<p> <%= link_to('Back', root_path, class: "btn btn-success") %> </p> 

<% if @movies[0]==nil %>
		<p> SORRY BUT NOTHING COULD BE FOUND</p>
	
<% else %>

	<table class="table table-striped">
  	<tr>
    	<th></th>
    	<th>Title</th>
    	<th>Release date</th>
    	<th>Director</th>
    	<th></th>
    	<th></th>
  	</tr>

  	<% @movies.each do |movie| %> 

    	<tr>
    		<% if movie.poster_path == nil %>
    				<p>no image</p>
    
    		<% else %>
    	  		<img src = <%= @img + movie.poster_path %> style="max-width:25%; max-height:25%;">
    	  	
    	  <% end %>
      	
      		<%= movie.title %>		
      	
      	<td><%= movie.release_date %></td>
      	<td><%= movie.director %></td>
        <td></td>
        <td></td>    
    	</tr>

    <% end %>

	</table>

<% end %>



</div>